<%= hidden_field_tag "active-side-nav-link", "social_sharing" %>

<div class="well">
  <h2>Social sharing</h2>
  <br/>
  <% if current_user.provider == "facebook" %>
      <p class="social-text">
        <%= image_tag 'user/fb-btn-large.png' %>
        Connected - ( <%= link_to "disconnect", "/profile/disconnect_facebook", method: :post %> )
      </p>
      <br/>
      <%= form_for current_user, url: update_fackbook_notifications_notifications_path, html: { class: 'form-horizontal well', role: 'form' } do |user_form| %>
          <fieldset>

            <h6>Post to your Facebook when:</h6>
            <%= user_form.hidden_field :enable_notifications_validation, value: true %>
            <%= user_form.fields_for :notifications, current_user.notifications.facebook_notifications do |fn| %>

                <div class="form-group">
                  <div class="col-sm-12">
                    <div class="checkbox">
                      <%= fn.check_box :status, style: "margin: 4px 9px 0 0;" %>
                      <%= fn.label :status, fn.object.text %>
                    </div>
                  </div>
                </div>
            <% end %>
            <!-- end of sms notification field_for -->
            <div>
              <%= user_form.submit 'Save', class: "btn btn-primary" %>
            </div>
          </fieldset>
      <% end %>
      <!-- end of sms notification form_for -->
  <% else %>
      <div class="row">
        <div class="col-sm-7 social-text">
          <p>
            Your la-mule account is not linked to Facebook yet. To connect your account, just click below.
          </p>
          <%= link_to "#{image_tag 'user/fb-btn-large.png'} <span>Connect with Facebook  </span> ".html_safe, user_omniauth_authorize_path(:facebook), class: 'btn btn-primary' %>
        </div>
        <div class="col-sm-5">

          <ul class="well pnl-right">
            <li class="tick">Quicker, one click login</li>
            <li>Linking your Facebook and your la-mule accounts will allow you to login to la-mule with just one
              click!
            </li>
            <br>

            <li class="tick">A more trustworthy profile</li>
            <li>Your Facebook details help complete your profile. A connected profile is more trustworthy, making it
              easier to plan your car shares.
            </li>
            <br>

            <li class="tick">Share la-mule with your friends</li>
            <li>la-mule is all about sharing! And you control your settings, so no worries, we do not share anything
              without your approval. Ever.
            </li>

          </ul>
        </div>
      </div>

  <% end %>


</div>