<%= hidden_field_tag "active-side-nav-link", "address" %>
<%= form_for @profile, url: update_address_profile_index_path, html: { class: 'well form-horizontal', role: 'form' } do |f| %>

    <fieldset>
      <h2>Your postal address</h2>

      <div class="form-group">
        <%= label_tag :first_name, "First name", class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <p class="form-control-static"><%= @user.first_name %></p>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :last_name, "Last name", class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <p class="form-control-static"><%= @user.last_name %></p>
        </div>
      </div>

      <div class="col-sm-offset-3">
        Change your first and last name from <%= link_to 'your profile', general_profile_index_path %>
      </div>
      <div class="form-group">
        <%= f.label :address_1, 'Address', class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :address_1, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :address_2, 'Address (line 2)', class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :address_2, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :postcode, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :postcode, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :city, class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= f.text_field :city, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :country_id, 'Country', class: "col-sm-3 control-label" %>
        <div class="col-sm-4">
          <%= f.select :country_id, options_for_select(Country.all.try(:each).try(:collect) { |country| [country.name, country.id] }, Country.find_by(name: GlobalConstants::DEFAULT_COUNTRY).id), { prompt: "Choose" }, class: "form-control" %>
        </div>
      </div>
    </fieldset>

    <div class="col-sm-offset-2">
      <%= f.submit 'Save', class: "btn btn-primary" %>

    </div>
<% end %>
<!-- end of form_for -->