<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "La Mule" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "La Mule" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://apis.google.com/js/plusone.js" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= render 'layouts/navigation' %>
</header>
<main role="main">
  <%= render 'layouts/flash_messages' %>
  <div class="container profile-page">
    <div class="row">
      <div class="col-md-3">
        <%= render 'layouts/profile_sidebar' %>

      </div>
      <div class="col-md-9">
        <%= yield %>


      </div>

    </div>
  </div>


</main>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {

      $('.list-group-item').removeClass('active');
      $("." + $('#active-side-nav-link').val()).addClass('active');
    });
</script>
